# Logging
LOGFILE_SIZE=1000000
LOGFILE_COUNT=10
LOGIFLE_FORMAT="%(levelname)s %(name)s %(asctime)s - %(message)s"

# Discord
DISCORD_TOKEN=""

# Canvas
CANVAS_TOKEN=""
CANVAS_URL=""

# Github
GITHUB_TOKEN=""
GITHUB_URL=""

# Database
DATABASE_URI="mongodb://localhost:27017/<database>"
DATABASE_NAME=""