# Logging
LOGFILE_SIZE=1000000
LOGFILE_COUNT=10
LOGFILE_FORMAT="%(levelname)s %(name)s %(asctime)s - %(message)s"
# All relative to home
LOGFILE_BASE_PATH=".local/state/discord-ta-bot"

# Discord
DISCORD_TOKEN=""
